<section class="vagasPage">
  <div class="vagasHeader">
    <div class="vagasHeader-left">

      <div class="titleBlock">
        <h1>Dashboard de Recrutador</h1>
      </div>
    </div>

    <div class="vagasHeader-right">
      <div class="stats">
        <span>Vinculações: <b>47</b></span>
        <span>Interações: <b>132</b></span>
        <span>Propostas: <b>9</b></span>
      </div>
      <button type="button" class="btnPrimary">
        <span class="material-symbols-rounded">add</span>
        Criar nova vaga
      </button>
    </div>
  </div>

  <div class="filters filters--below">
    <button type="button" class="pillFilter active">
      <span class="material-symbols-rounded">check_box</span>
      Radar
    </button>
    <button type="button" class="pillFilter">
      <span class="dot"></span>
      Fácil
    </button>
    <button type="button" class="pillFilter">
      <span class="material-symbols-rounded">data_usage</span>
      Engajamento
    </button>
  </div>

  <job-adherence-card [vm]="card"></job-adherence-card>
</section>
