<div
  class="shell"
  [class.shell--plain]="isHomeEntry"
  [class.shell--candidate]="isCandidateArea"
  [class.shell--sidebar-hidden]="hasSidebar && !isSidebarOpen"
>
  <ng-container *ngIf="!isHomeEntry">
    <app-sidebar *ngIf="hasSidebar && isSidebarOpen"></app-sidebar>

    <div
      class="shell__main"
      [class.shell__main--candidate]="isCandidateArea"
      [class.shell__main--full]="isCandidateEcosystem || (hasSidebar && !isSidebarOpen)"
      [class.shell__main--ecosystem]="isCandidateEcosystem"
    >
      <app-topbar></app-topbar>
      <section
        class="shell__content"
        [class.shell__content--candidate]="isCandidateArea"
        [class.shell__content--ecosystem]="isCandidateEcosystem"
      >
        <router-outlet />
      </section>
    </div>
  </ng-container>

  <section *ngIf="isHomeEntry" class="shell__content shell__content--plain">
    <router-outlet />
  </section>
</div>
