<div class="shell" [class.shell--plain]="isHomeEntry" [class.shell--candidate]="isCandidateArea">
  <ng-container *ngIf="!isHomeEntry">
    <app-sidebar></app-sidebar>

    <div class="shell__main" [class.shell__main--candidate]="isCandidateArea">
      <app-topbar></app-topbar>
      <section class="shell__content" [class.shell__content--candidate]="isCandidateArea">
        <router-outlet />
      </section>
    </div>
  </ng-container>

  <section *ngIf="isHomeEntry" class="shell__content shell__content--plain">
    <router-outlet />
  </section>
</div>
