<div
  class="shell"
  [class.shell--plain]="isHomeEntry"
  [class.shell--candidate]="isCandidateArea"
  [class.shell--sidebar-hidden]="hasSidebar && !shouldReserveSidebarSpace"
>
  <ng-container *ngIf="!isHomeEntry">
    <app-sidebar *ngIf="hasSidebar && isSidebarOpen"></app-sidebar>
    <button
      *ngIf="isSidebarOverlayVisible"
      class="shell__sidebar-backdrop"
      type="button"
      aria-label="Fechar sidebar"
      (click)="hideSidebar()"
    ></button>

    <div
      class="shell__main"
      [class.shell__main--candidate]="isCandidateArea"
      [class.shell__main--full]="isCandidateEcosystem || !shouldReserveSidebarSpace"
      [class.shell__main--ecosystem]="isCandidateEcosystem"
      [class.shell__main--template]="isTemplateEcosystem"
    >
      <div class="shell__topbar" [class.shell__topbar--template]="isTemplateEcosystem">
        <app-topbar></app-topbar>
      </div>
      <section
        class="shell__content"
        [class.shell__content--candidate]="isCandidateArea"
        [class.shell__content--ecosystem]="isCandidateEcosystem"
        [class.shell__content--template]="isTemplateEcosystem"
      >
        <router-outlet />
      </section>
    </div>
  </ng-container>

  <section *ngIf="isHomeEntry" class="shell__content shell__content--plain">
    <router-outlet />
  </section>
</div>
